@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #container {
  width: 800px;
  height: 700px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
body #header {
  padding: 20px 30px;
  border: 1px black;
  border-style: hidden hidden solid hidden;
}
body #header h1 {
  font-size: 35px;
  font-weight: 600;
  width: fit-content;
}
body #header h1:hover {
  cursor: pointer;
}
body #content {
  display: flex;
  height: 100%;
  overflow: hidden;
}
body #content button {
  background-color: #f9f9f9;
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  height: fit-content;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
}
body #content button:hover {
  cursor: pointer;
  background-color: #0050ff;
  color: white;
  transition: 0.3s;
}
body #content #menu {
  width: 50%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 15px;
}
body #content #display {
  border: 1px black;
  border-style: hidden hidden hidden solid;
  width: 100%;
  height: 100%;
  overflow-y: none;
}
body #content #display .platformMessages {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 30px;
  text-align: center;
}
body #content #display .platformMessages i {
  color: #0050ff;
  margin-bottom: 20px;
}
body #content #display .platformMessages h1 {
  font-size: 1.5rem;
}
body #content #display .platformMessages span {
  font-weight: 600;
  color: #0050ff;
}
body #content #display .platformMessages small {
  color: #cacaca;
}
body #content #display .card {
  background-color: #f9f9f9;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  padding: 15px;
}
body #content #display .cardBtnsContainer {
  display: flex;
  justify-self: end;
  gap: 8px;
}
body #content #display .cardBtnsContainer .deleteCardBtn, body #content #display .cardBtnsContainer .editCardBtn {
  background-color: transparent;
  border: none;
  font-size: 12px;
  width: fit-content;
  height: auto;
  padding: 0;
}
body #content #display .cardBtnsContainer .deleteCardBtn:hover, body #content #display .cardBtnsContainer .editCardBtn:hover {
  cursor: pointer;
  background-color: transparent;
  color: red;
  transition: 0.3s;
}
body #content #display .cardBtnsContainer .editCardBtn:hover {
  color: #0050ff;
}
body #content #display #createCourseBtn, body #content #display #createUserBtn {
  border: 1px black;
  border-style: hidden hidden solid hidden;
}
body #content #display #coursesArea {
  display: none;
}
body #content #display #coursesArea #coursesList {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 15px;
  padding: 30px;
}
body #content #display #coursesArea #coursesList .courseCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
body #content #display #coursesArea #coursesList .courseCard p:nth-child(n+3) {
  grid-column: span 2;
}
body #content #display #coursesArea #coursesList .courseCard .courseSubject {
  font-size: 12px;
  font-weight: 700;
}
body #content #display #coursesArea #coursesList .courseCard .courseName {
  font-size: 18px;
  font-weight: 700;
}
body #content #display #coursesArea #coursesList .courseCard .courseDescription {
  font-size: 14px;
}
body #content #display #coursesArea #coursesList .courseCard .coursePrice {
  font-weight: 600;
}
body #content #display #createCourseForm, body #content #display #createUserForm {
  padding: 30px;
  display: none;
  flex-direction: column;
  justify-content: baseline;
  gap: 25px;
}
body #content #display #createCourseForm .formField, body #content #display #createUserForm .formField {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
body #content #display #createCourseForm .formField input,
body #content #display #createCourseForm .formField select,
body #content #display #createCourseForm .formField option,
body #content #display #createCourseForm .formField textarea, body #content #display #createUserForm .formField input,
body #content #display #createUserForm .formField select,
body #content #display #createUserForm .formField option,
body #content #display #createUserForm .formField textarea {
  background-color: #f9f9f9;
  border: 1px solid black;
  padding: 15px;
}
body #content #display #createCourseForm .formField input,
body #content #display #createCourseForm .formField textarea:focus, body #content #display #createUserForm .formField input,
body #content #display #createUserForm .formField textarea:focus {
  outline: none;
}
body #content #display #createCourseForm .formField #courseDescriptionTextarea, body #content #display #createUserForm .formField #courseDescriptionTextarea {
  font-size: 14px;
  resize: none;
  height: 200px;
}
body #content #display #createCourseForm .formField #courseTeachersSelect option, body #content #display #createUserForm .formField #courseTeachersSelect option {
  margin: 3px;
}
body #content #display #createCourseForm .formField.error input,
body #content #display #createCourseForm .formField.error textarea, body #content #display #createUserForm .formField.error input,
body #content #display #createUserForm .formField.error textarea {
  border: 2px solid red;
}
body #content #display #createCourseForm .formField.error .error, body #content #display #createUserForm .formField.error .error {
  color: red;
  font-size: 14px;
}
body #content #display #createCourseForm .formField.success input,
body #content #display #createCourseForm .formField.success textarea, body #content #display #createUserForm .formField.success input,
body #content #display #createUserForm .formField.success textarea {
  border: 2px solid green;
}
body #content #display #createCourseConfirmation {
  display: none;
}
body #content #display #usersArea {
  display: none;
}
body #content #display #usersArea #usersList {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 15px;
  padding: 30px;
}
body #content #display #usersArea #usersList .userCard {
  gap: 15px;
  display: grid;
  grid-template-columns: 65% 2fr;
}
body #content #display #usersArea #usersList .userCard .userCardInfoTitle {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
body #content #display #usersArea #usersList .userCard .cardBtnsContainer .deleteCardBtn, body #content #display #usersArea #usersList .userCard .cardBtnsContainer .editCardBtn {
  align-self: baseline;
  padding-top: 7px;
}

/*# sourceMappingURL=style.css.map */
