@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    #container {
        width: 800px;
        height: 700px;
        display: flex;
        flex-direction: column;

        border: 1px solid black;
    }

    #header {
        padding: 20px 30px;
        border: 1px black;
        border-style: hidden hidden solid hidden;

        h1 {
            font-size: 35px;
            font-weight: 600;
            width: fit-content;

            &:hover {
                cursor: pointer;
            }
        }
    }

    #content {
        display: flex;
        height: 100%;
        overflow: hidden;

        button {
            background-color: #f9f9f9;
            border: 1px solid rgb(0, 0, 0);

            width: 100%;
            height: fit-content;
            padding: 15px;

            font-size: 16px;
            font-weight: 700;

            &:hover {
                cursor: pointer;
                background-color: #0050ff;
                color: white;
                transition: 0.3s;
            }

        }

        #menu {
            width: 50%;
            height: 100%;
            padding: 30px;

            display: flex;
            flex-direction: column;
            justify-content: baseline;
            gap: 15px;
        }

        #display {
            border: 1px black;
            border-style: hidden hidden hidden solid;

            width: 100%;
            height: 100%;

            overflow-y: none;

            .platformMessages {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 15px;
                padding: 30px;
                text-align: center;

                i {
                    color: #0050ff;
                    margin-bottom: 20px;
                }

                h1 {
                    font-size: 1.5rem;
                }

                span {
                    font-weight: 600;
                    color: #0050ff;
                }

                small {
                    color: #cacaca;
                }
            }

            .card {
                background-color: #f9f9f9;
                min-height: fit-content;
                display: flex;
                flex-direction: column;
                gap: 10px;

                border: 1px solid black;
                padding: 15px;
            }

            #createCourseBtn, #createUserBtn {
                border: 1px black;
                border-style: hidden hidden solid hidden;
            }

            #coursesArea {
                display: none;


                #coursesList {
                    display: flex;
                    flex-direction: column;
                    justify-content: baseline;
                    gap: 15px;

                    padding: 30px;

                    .courseCard {
                        .courseName {
                            font-size: 18px;
                            font-weight: 700;
                        }

                        .courseDescription {
                            font-size: 14px;
                        }

                        .courseSubject {
                            font-size: 12px;
                            font-weight: 700;
                        }

                        .coursePrice {
                            font-weight: 600;
                        }
                    }
                }
            }

            #createCourseForm, #createUserForm {
                padding: 30px;

                display: none;
                flex-direction: column;
                justify-content: baseline;
                gap: 25px;

                .formField {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: 100%;

                    input,
                    select,
                    option,
                    textarea {
                        background-color: #f9f9f9;
                        border: 1px solid black;
                        padding: 15px;
                    }

                    input,
                    textarea:focus {
                        outline: none;
                    }

                    #courseDescriptionTextarea {
                        font-size: 14px;
                        resize: none;
                        height: 200px;
                    }

                    #courseTeachersSelect {
                        option {
                            margin: 3px;
                        }
                    }

                    &.error {

                        input,
                        textarea {
                            border: 2px solid red;
                        }

                        .error {
                            color: red;
                            font-size: 14px;
                        }
                    }

                    &.success {

                        input,
                        textarea {
                            border: 2px solid green;
                        }
                    }
                }
            }

            #createCourseConfirmation {
                display: none;
            }

            #usersArea {
                display: none;

                #usersList {
                    display: flex;
                    flex-direction: column;
                    justify-content: baseline;
                    gap: 15px;

                    padding: 30px;

                    .userCard{
                        .userType{
                            font-size: 12px;
                            font-weight: 700;
                        }
                        .userName{
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}