@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    #container {
        width: 800px;
        height: 700px;
        display: flex;
        flex-direction: column;

        border: 1px solid black;
    }

    #header {
        padding: 20px 30px;
        border: 1px black;
        border-style: hidden hidden solid hidden;

        h1 {
            font-size: 35px;
            font-weight: 600;
            width: fit-content;

            &:hover {
                cursor: pointer;
            }
        }
    }

    #content {
        display: flex;
        height: 100%;
        overflow: hidden;

        button {
            background-color: #f9f9f9;
            border: 1px solid rgb(0, 0, 0);

            width: 100%;
            height: fit-content;
            padding: 15px;

            font-size: 16px;
            font-weight: 700;

            &:hover {
                cursor: pointer;
                background-color: #0050ff;
                color: white;
                transition: 0.3s;
            }

        }

        #menu {
            width: 50%;
            height: 100%;
            padding: 30px;

            display: flex;
            flex-direction: column;
            justify-content: baseline;
            gap: 15px;
        }

        #display {
            border: 1px black;
            border-style: hidden hidden hidden solid;

            width: 100%;
            height: 100%;

            overflow-y: none;

            .platformMessages {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 15px;
                padding: 30px;
                text-align: center;

                i {
                    color: #0050ff;
                    margin-bottom: 20px;
                }

                h1 {
                    font-size: 1.5rem;
                }

                span {
                    font-weight: 600;
                    color: #0050ff;
                }
                
                small {
                    color: #cacaca;
                }
            }
            
            .card {
                background-color: #f9f9f9;
                min-height: fit-content;
                display: flex;
                flex-direction: column;
                gap: 10px;

                border: 1px solid black;
                padding: 15px;
            }
            
            .cardBtnsContainer{
                display: flex;
                justify-self: end;
                gap: 8px;

                .deleteCardBtn, .editCardBtn{
                    background-color: transparent;
                    border: none;
                    font-size: 12px;       
                    
                    width: fit-content;
                    height: auto;
                    padding: 0;
                    
                    &:hover {
                        cursor: pointer;
                        background-color: transparent;
                        color: red;
                        transition: 0.3s;
                    }
                }
                
                .editCardBtn:hover{
                    color: #0050ff;
                }
            }

            #createCourseBtn, #createUserBtn {
                border: 1px black;
                border-style: hidden hidden solid hidden;
            }

            #coursesArea {
                display: none;
            }

            #coursesList, #userCoursesList{
                display: flex;
                flex-direction: column;
                justify-content: baseline;
                gap: 15px;

                padding: 30px;

                .courseCard {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    p:nth-child(n+3){
                        grid-column: span 2;
                    }

                    .courseSubject {
                        font-size: 12px;
                        font-weight: 700;
                    }
                    .courseName {
                        font-size: 18px;
                        font-weight: 700;
                    }
                    .courseDescription {
                        font-size: 14px;
                    }
                    .coursePrice {
                        font-weight: 600;
                    }
                }
            }

            form {
                padding: 30px;

                display: none;
                flex-direction: column;
                justify-content: baseline;
                gap: 25px;

                .formField {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: 100%;

                    label{
                        font-size: 14px;
                        font-weight: 700;
                    }

                    input,
                    select,
                    option,
                    textarea {
                        background-color: #f9f9f9;
                        border: 1px solid black;
                        padding: 15px;
                    }

                    input,
                    textarea:focus {
                        outline: none;
                    }

                    #courseDescriptionTextarea {
                        font-size: 14px;
                        resize: none;
                        height: 200px;
                    }

                    #courseTeachersSelect {
                        option {
                            margin: 3px;
                        }
                    }

                    &.error {

                        input,
                        textarea {
                            border: 2px solid red;
                        }

                        .error {
                            color: red;
                            font-size: 14px;
                        }
                    }

                    &.success {

                        input,
                        textarea {
                            border: 2px solid green;
                        }
                    }
                }
            }

            #createCourseConfirmation {
                display: none;
            }

            #usersArea {
                display: none;

                #usersList {
                    display: flex;
                    flex-direction: column;
                    justify-content: baseline;
                    gap: 15px;

                    padding: 30px;

                    .userCard{
                        gap: 15px;
                        display: grid;
                        grid-template-columns: 65% 2fr;

                        .userCardInfoTitle{
                            font-size: 14px;
                            font-weight: 700;
                            margin-bottom: 5px;
                        }

                        .cardBtnsContainer{
                            .deleteCardBtn, .editCardBtn{
                                align-self: baseline;
                                padding-top: 7px;
                            }
                        }

                    }
                }
            }

            #editUserArea {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                
                *:nth-child(n+3){
                    grid-column: span 2;
                }
                
                #userInfo, #userCourses {
                    border: 1px black;
                    border-style: hidden hidden solid hidden;
                }

                #userInfo {
                    border-style: hidden solid solid hidden;
                }

                #editUserForm{
                    display: flex;
                    
                }
                
                #userCoursesList{
                    padding: 0;
                }
            }
        }
    }
}